<!DOCTYPE html>
<html>
<head>
  <title>SitescanCommon</title>
  <%= stylesheet_link_tag    "sitescan_common/application", media: "all" %>
  <%= javascript_include_tag "sitescan_common/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
