.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
.idea/
bin/
spec/dummy/config/database.yml
spec/dummy/config/secrets.yml
spec/dummy/log/
spec/dummy/public/system/
spec/dummy/tmp/
